:root {
    --primary-color: #093A3E;
    --secondary-color: #3AAFB9;
    --accent1-color: #64E9EE;
    --accent2-color: #EDBF85;  
}


h1, h2 {
    font-family: "Montserrat", sans-serif;
    color: var(--primary-color);
}

p {
    font-family: "Roboto", sans-serif;
    color: var(--primary-color);
}

.sociallink a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%; 
    height: auto;
    position: relative;
}

.hero h1 {
    position: absolute; 
}

.hero article {
    position: absolute; 
}

.hero article img {
    float: right;
    margin: 20px; 
}